# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
%pip install pymongo
from pymongo import MongoClient


import warnings
warnings.filterwarnings('ignore')

client = MongoClient("mongodb://localhost:27017")

client

Requirement already satisfied: pymongo in /Users/anachaparrohernandez/opt/anaconda3/lib/python3.9/site-packages (4.3.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Users/anachaparrohernandez/opt/anaconda3/lib/python3.9/site-packages (from pymongo) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [2]:
# Your Code

db=client.companies
colec=db.companies

query={'name': 'Babelgum'}

filtro={'name': True, '_id': False}


list(colec.find(query, filtro))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [3]:
# Your Code
query={'number_of_employees': {'$gte': 5000}}

#El código quedaría así:

#list(colec.find(query).sort('number_of_employees', 1).limit(20))   

#Pero lo dejo con filtro del nombre para que no tengáis scroll infinito.

filtro={'name': True, '_id': False}

list(colec.find(query,filtro).sort('number_of_employees', 1).limit(10))

[{'name': 'Spotify'},
 {'name': 'United Internet'},
 {'name': 'JDS Uniphase Corporation'},
 {'name': 'Air Astana Airlines'},
 {'name': 'Vcare Call Center'},
 {'name': 'McAfee'},
 {'name': 'PCH International'},
 {'name': 'Nintendo'},
 {'name': 'Hexaware Technologies'},
 {'name': 'Facebook'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [4]:
# Your Code
query={'$and': [{'founded_year': {'$lte': 2005}},
                {'founded_year': {'$gte': 2000}}]}


filtro={'name': True,'founded_year': True, '_id': False}

#El código quedaría así:

#list(colec.find(query, filtro))


#Pero lo dejo limitado a 1 para que no tengáis scroll infinito.

list(colec.find(query, filtro).limit(1))

[{'name': 'Wetpaint', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [5]:
# Your Code

query={'$and': [{'ipo.valuation_amount': {'$gte': 1e8}},
                {'founded_year': {'$lte': 2010}}]}


filtro={'name': True,'ipo': True, '_id': False}

#El código quedaría así:

#list(colec.find(query, filtro))

#Pero lo dejo limitado a 1 para que no tengáis scroll infinito.

list(colec.find(query, filtro).limit(1))

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [6]:
# Your Code
query={'$and': [{'number_of_employees': {'$lte': 1000}},
                {'founded_year': {'$lt': 2005}}]}

filtro={'name': True,'number_of_employees':True, '_id': False,'founded_year':True}

#El código quedaría así:

#list(colec.find(query,filtro).sort('number_of_employees', 1).limit(10))   

#Pero lo dejo limitado a 1 para que no tengáis scroll infinito.

list(colec.find(query,filtro).sort('number_of_employees', 1).limit(1))

[{'name': 'Fox Interactive Media',
  'number_of_employees': 0,
  'founded_year': 1979}]

### 6. All the companies that don't include the `partners` field.

In [7]:
# Your Code
query={'partners':{'$exists':0}}

list(colec.find(query).limit(1))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [8]:
# Your Code
query={'category_code': None}

list(colec.find(query).limit(1))

[{'_id': ObjectId('52cdef7c4bab8bd6752980f6'),
  'name': 'Collective',
  'permalink': 'collective',
  'crunchbase_url': 'http://www.crunchbase.com/company/collective',
  'homepage_url': None,
  'blog_url': None,
  'blog_feed_url': None,
  'twitter_username': None,
  'category_code': None,
  'number_of_employees': None,
  'founded_year': None,
  'founded_month': None,
  'founded_day': None,
  'deadpooled_year': None,
  'deadpooled_month': None,
  'deadpooled_day': None,
  'deadpooled_url': None,
  'tag_list': None,
  'alias_list': None,
  'email_address': None,
  'phone_number': None,
  'description': None,
  'created_at': 'Thu Sep 26 13:15:02 UTC 2013',
  'updated_at': 'Thu Sep 26 13:15:02 UTC 2013',
  'overview': None,
  'image': None,
  'products': [],
  'relationships': [],
  'competitions': [],
  'providerships': [],
  'total_money_raised': '$0',
  'funding_rounds': [],
  'investments': [],
  'acquisition': None,
  'acquisitions': [],
  'offices': [],
  'milestones': [],
  'ipo': None,
  'video_embeds': [],
  'screenshots': [],
  'external_links': [],
  'partners': []}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [9]:
# Your Code
query={'$and': [{'number_of_employees': {'$lt': 1e3}},
                {'number_of_employees': {'$gte': 100}}]}


filtro={'name': True,'number_of_employees': True, '_id': False}


list(colec.find(query, filtro).limit(10))

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110},
 {'name': 'Livestream', 'number_of_employees': 120},
 {'name': 'Ustream', 'number_of_employees': 250},
 {'name': 'iContact', 'number_of_employees': 300},
 {'name': 'Yelp', 'number_of_employees': 800},
 {'name': 'Dailymotion', 'number_of_employees': 120}]

### 9. Order all the companies by their IPO price in a descending order.

In [10]:
# Your Code

filtro={'name': True,'ipo.valuation_amount': True, '_id': False}

#Filtro y limito a 10 por el scroll.

list(colec.find(query,filtro).sort('ipo.valuation_amount',-1).limit(10))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Zillow', 'ipo': {'valuation_amount': 2550000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'Higher One', 'ipo': {'valuation_amount': 1060000000}},
 {'name': 'OpenTable', 'ipo': {'valuation_amount': 1050000000}},
 {'name': 'QlikTech', 'ipo': {'valuation_amount': 1000000000}},
 {'name': 'Millennial Media', 'ipo': {'valuation_amount': 973500000}},
 {'name': 'Mixi', 'ipo': {'valuation_amount': 970000000}},
 {'name': 'Cornerstone OnDemand', 'ipo': {'valuation_amount': 900000000}},
 {'name': 'Infoblox', 'ipo': {'valuation_amount': 824000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [11]:
# Your Code
filtro={'name': True,'number_of_employees': True, '_id': False}


list(colec.find('', filtro).sort('number_of_employees',-1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [12]:
# Your Code
query={'founded_month': {'$gt':6}}


filtro={'name': True, '_id': False, 'founded_month':True}


list(colec.find(query, filtro).limit(10))

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11},
 {'name': 'Powerset', 'founded_month': 10},
 {'name': 'Kyte', 'founded_month': 12},
 {'name': 'Thoof', 'founded_month': 12}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [13]:
# Your Code
query={'$and': [{'founded_year': {'$lt':2000}},
        {'acquisition.price_amount': {'$gte': 1e7}}]}



filtro={'name': True, '_id': False, 'founded_year':True, 'acquisition.price_amount':True}


list(colec.find(query, filtro).limit(5))

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Snapfish',
  'founded_year': 1999,
  'acquisition': {'price_amount': 300000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [14]:
# Your Code
query={'acquisition.acquired_year': {'$gt': 2010}}



filtro={'name': True, 'acquisition':True, '_id': False}


list(colec.find(query, filtro).sort('acquisition.price_amount',-1).limit(5))

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}},
 {'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.masshightech.com/stories/2011/09/19/daily37-UTC-shells-out-184-billion-for-Goodrich.html',
   'source_description': 'UTC shells out $18.4 billion for Goodrich',
   'acquired_year': 2011,
   'acquired_month': 9,
   'acquired_day': 22,
   'acquiring_company': {'name': 'United Technologies',
    'permalink': 'united-technologies'}}},
 {'name': 'LSI',
  'acquisition': {'price_amount': 6600000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://dealbook.nytimes.com/2013/12/16/avago-to-buy-lsi-for-6-6-billion/?_r=0',
   'source_description': 'Avago to Buy LSI for $6.6 Billion',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Avago Technologies',
    'permalink': 'avago-technologies'}}},
 {'name': 'National Semiconductor',
  'acquisition': {'price_amount': 6500000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://www.national.com/news/item/0,1735,1522,00.html',
   'source_description': 'TI to acquire National Semiconductor Complementary portfolios are foundation for growth',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 4,
   'acquiring_company': {'name': 'Texas Instruments',
    'permalink': 'texas-instruments'}}},
 {'name': 'Ariba',
  'acquisition': {'price_amount': 4300000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/05/22/sap-to-acquire-ariba-for-4-3-billion/',
   'source_description': 'SAP To Acquire Ariba For $4.3 Billion',
   'acquired_year': 2012,
   'acquired_month': 5,
   'acquired_day': 22,
   'acquiring_company': {'name': 'SAP', 'permalink': 'sap'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [15]:
# Your Code

filtro={'name': True,'founded_year':True, '_id': False}

list(colec.find('', filtro).sort('founded_year',-1).limit(5))

[{'name': 'Fixya', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Wamba', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [16]:
# Your Code
query={'founded_day': {'$lte':7}}


filtro={'name': True, '_id': False, 'founded_day':True}


list(colec.find(query, filtro).sort('acquisition.price_amount',-1).limit(10))

[{'name': 'Netscape', 'founded_day': 4},
 {'name': 'PayPal', 'founded_day': 1},
 {'name': 'Zappos', 'founded_day': 1},
 {'name': 'Alibaba', 'founded_day': 1},
 {'name': 'Postini', 'founded_day': 2},
 {'name': 'Danger', 'founded_day': 1},
 {'name': 'Clearwell Systems', 'founded_day': 6},
 {'name': 'PrimeSense', 'founded_day': 1},
 {'name': 'Amobee', 'founded_day': 1},
 {'name': 'Vitrue', 'founded_day': 1}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [17]:
# Your Code
query={'$and': [{'category_code': 'web'},
        {'number_of_employees': {'$gt': 4000}}]}



filtro={'name': True, '_id': False, 'category_code':True, 'number_of_employees':True}


list(colec.find(query, filtro).sort('number_of_employees',1).limit(10))

[{'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'category_code': 'web', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'number_of_employees': 10000},
 {'name': 'Groupon', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'category_code': 'web', 'number_of_employees': 13600},
 {'name': 'eBay', 'category_code': 'web', 'number_of_employees': 15000},
 {'name': 'Experian', 'category_code': 'web', 'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [18]:
# Your Code
query={'$and': [{'acquisition.price_amount': {'$gt': 1e7}},
                {'acquisition.price_currency_code': 'EUR'}]}



filtro={'name': True, 'acquisition.price_amount':True, '_id': False,'acquisition.price_currency_code':True}


list(colec.find(query, filtro).limit(5))

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [19]:
# Your Code
query={'acquisition.acquired_month': {'$lte': 6}}
            


filtro={'name': True, 'acquisition':True, '_id': False}


list(colec.find(query, filtro).limit(10))

[{'name': 'Flektor',
  'acquisition': {'price_amount': 20000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://venturebeat.com/2007/05/30/fox-interactive-confirms-purchase-of-photobucket-and-flektor/',
   'source_description': 'Fox Interactive confirms purchase of Photobucket and Flektor',
   'acquired_year': 2007,
   'acquired_month': 5,
   'acquired_day': 30,
   'acquiring_company': {'name': 'Fox Interactive Media',
    'permalink': 'fox-interactive-media'}}},
 {'name': 'StumbleUpon',
  'acquisition': {'price_amount': 29000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2009/04/13/ebay-unacquires-stumbleupon/',
   'source_description': "StumbleUpon Beats Skype In Escaping EBay's Clutches",
   'acquired_year': 2009,
   'acquired_month': 4,
   'acquired_day': None,
   'acquiring_company': {'name': 'StumbleUpon', 'permalink': 'stumbleupon'}}},
 {'name': 'Helio',
  'acquisition': {'price_amount': 39000000,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://news.cnet.com/8301-10784_3-9978991-7.html',
   'source_description': 'Virgin Mobile USA buys Helio for $39 million',
   'acquired_year': 2008,
   'acquired_month': 6,
   'acquired_day': 27,
   'acquiring_company': {'name': 'Virgin Mobile USA',
    'permalink': 'virgin-mobile'}}},
 {'name': 'Plaxo',
  'acquisition': {'price_amount': 150000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.techcrunch.com/2008/05/14/confirmed-comcast-bought-plaxo-deal-closed-today/',
   'source_description': 'Confirmed: Comcast Bought Plaxo, Deal Closed Today',
   'acquired_year': 2008,
   'acquired_month': 5,
   'acquired_day': 14,
   'acquiring_company': {'name': 'Comcast', 'permalink': 'comcast'}}},
 {'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'Veoh',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2010/04/07/qlipso-veoh/',
   'source_description': "Qlipso's CEO Explains Why He Bought Veoh",
   'acquired_year': 2010,
   'acquired_month': 4,
   'acquired_day': 7,
   'acquiring_company': {'name': 'Qlipso', 'permalink': 'qlipso'}}},
 {'name': 'Gannett',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.clickz.com/clickz/news/1717294/gannett-buys-pointroll',
   'source_description': 'Gannett Buys PointRoll',
   'acquired_year': 2005,
   'acquired_month': 6,
   'acquired_day': 10,
   'acquiring_company': {'name': 'PointRoll', 'permalink': 'pointroll'}}},
 {'name': 'Jingle Networks',
  'acquisition': {'price_amount': 62500000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://www.masshightech.com/stories/2011/04/11/daily11-Jingle-Networks-bought-for-up-to-625M.html',
   'source_description': 'Jingle Networks bought for up to $62.5M',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 11,
   'acquiring_company': {'name': 'Marchex', 'permalink': 'marchex'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [20]:
# Your Code
query={'$and': [{'founded_year': {'$gte': 2000}},
                {'founded_year': {'$lte': 2010}},
                {'acquisition.acquired_year': {'$gt': 2011}}]}


filtro={'name': True, 'acquisition.acquired_year':True, '_id': False,'founded_year':True}


list(colec.find(query, filtro).limit(5))

[{'name': 'Wetpaint',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Digg',
  'founded_year': 2004,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Geni',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'blogTV',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Revision3',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2012}}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [21]:
# Your Code

            
filtro={'name': True, '_id': False,'founded_year':True}


list(colec.find(query, filtro).sort('founded_year',1).limit(5))

[{'name': 'SelectMinds', 'founded_year': 2000},
 {'name': 'Axis', 'founded_year': 2000},
 {'name': 'Bestofmedia Group', 'founded_year': 2000},
 {'name': 'Handmark', 'founded_year': 2000},
 {'name': 'SnapNames', 'founded_year': 2000}]

In [22]:
import pandas as pd

#Filtramos para extraer un DF en el que no tengamos los valores nulos ni los tres valores más bajos de 
#deadpooled_year (1,2,3) que no nos interesan para obtener el año en el que la empresa ha salido en "concurso de acredores"
#en funcion del año en el que se fundó.

query={'$and':
       [{'founded_year': {'$gte': 1500}},
        {'deadpooled_year': {'$gte': 1500}}]}
    
filtro={'name': True, 'deadpooled_year': True, 'founded_year': True, '_id': False}

df=pd.DataFrame(list(colec.find(query, filtro)))

df.head()

        name  founded_year  deadpooled_year
0  Omnidrive          2005             2008
1   Babelgum          2007             2013
2    Sparter          2007             2008
3      Thoof          2006             2013
4     Wesabe          2005             2010

In [23]:
df['dif_dead_found']=df.deadpooled_year-df.founded_year
df = df.drop(df[df['dif_dead_found'] <= 3].index)

In [24]:
df.head()

       name  founded_year  deadpooled_year  dif_dead_found
1  Babelgum          2007             2013               6
3     Thoof          2006             2013               7
4    Wesabe          2005             2010               5
6   Stickam          2006             2013               7
7  AllPeers          2004             2008               4

In [25]:
df.reset_index(drop=True,inplace=True)

In [26]:
#El DataFrame df muestra todas las empresas que han caído en "concurso de acredores" después del tercer año.
df.head()

       name  founded_year  deadpooled_year  dif_dead_found
0  Babelgum          2007             2013               6
1     Thoof          2006             2013               7
2    Wesabe          2005             2010               5
3   Stickam          2006             2013               7
4  AllPeers          2004             2008               4